header {
  background: var(--mint);
  height: 80px;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logo-container {
  display: flex;
  height: 5em;
  justify-content: center;
  align-items: center;
}

.logo {
  color: var(--deep-forest-green);
  width: 50%;
}


#nav-toggle {
  display: none;
}


.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--deep-forest-green);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label:hover span,
.nav-toggle-label:hover span::before,
.nav-toggle-label:hover span::after {
  background: var(--orange);
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: var(--mint);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--deep-forest-green);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out ;
}

nav a:hover {
  color: var(--orange);
}

#nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

#nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}